<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido</h1>
        <p class="lead">En esta web vas a poder dar de alta videos de tu autoria musical</p>
    </div>
</div>