<form (ngSubmit)="guardar(videoForm)" #videoForm="ngForm" class="container-fluid mb-3">
  <div class="form-row">
      <div class="col-3">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input id="name" 
                name="name" 
                class="form-control" 
                type="text" [(ngModel)]="entity.name"/>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="uri">Video</label>
          <input type="file" 
                class="form-control-file" 
                id="video"
                [(ngModel)]="entity.video"/>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="uri">Artista</label>
          <select class="custom-select">
            <option selected>Seleccione un artista</option>
            <option *ngFor="let singer of singers" [ngValue]="city">
              {{singer.nombre}}
            </option>
          </select>
        </div>
      </div>  
      <div class="col-3">
        <div class="form-group">
          <label for="uri">Album</label>
          <select class="custom-select">
            <option selected>Seleccione un album</option>
            <option *ngFor="let album of albums" [ngValue]="city">
              {{album.nombre}}
            </option>
          </select>
        </div>
      </div>  



      
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
			<button [disabled]="videoForm.invalid"
							type="submit" 
							class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>
